body, html {
    
    margin-left: 3%;
    margin-right: 3%;
    width: 95%;
    height: 100%;
    justify-content: center;
  }


/*.header_name, .header_title {
  */  
.header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 5px rgba(24, 82, 43, 0.66);
    min-height: 56px;
    transition: min-height 0.3s;
  
}
.header_name {
    margin-bottom: 0;
    

}

.header_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 0;
}
.header_title_container {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 2%
      

}

.inner_header {
    margin-right: auto;
    margin-left: 5px;
     
}

.logo {
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
    }

.main_content {
    display: block;
   /* flex-direction: row;*/
    padding-top: 2%;
    padding-bottom: 2%;
}
.main_pic {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2%;
    float: left;
    
  /*  position: center;
  */
}



.main_content_paragraph {
    padding: 3%;
    align-content: center;
    vertical-align: bottom;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

h2 {
    box-shadow: 0 3px 5px rgba(24, 82, 43, 0.66);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 3%;
    text-align: center;
    
}

h3 {
    align-content: center;
    }

.featured_work_container {
        display: flex;
        flex-direction: row;
        
}


.featured_work {
    width: 33%;
    align-content: center;
    padding-top: 1%;
    text-align: center;
}


.rose {
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 70%;
    height: 60%
}
.cami_cat {
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 60%;
    height: 75%

}
.pixel_art {
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 60%;
    height: 60%
   
}

/*css for garden.html*/
.My_Plants {
    display: flex;
    flex-direction: row;

}