body,
html {
    margin-left: 3%;
    margin-right: 3%;
    width: 95%;
    height: 100%;
    justify-content: center;
}


/***styling for header***/

.header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 5px rgba(24, 82, 43, 0.66);
    min-height: 56px;
    transition: min-height 0.3s;
}


.header-name {
    margin-bottom: 0;
}


.header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 0;
}


.header-title-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 2%
}


.inner-header {
    margin-right: auto;
    margin-left: 5px;
}


.logo {
    margin-right: 1em;
    vertical-align: top;
    margin-top: 2%;
}

/***styling for main content***/

.main-content {
    display: block;
    padding: 1% 2% 9% 8%;
}


.main-pic {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2% 2% 8%;
    float: left;
}


.main-content-paragraph {
    padding: 3%;
    align-content: center;
    vertical-align: bottom;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}


.header-main-content {
    text-align: left;
    padding-top: 2%;
}


/**styling for featured work**/

.featured-work-header {
    box-shadow: 0 3px 5px rgba(24, 82, 43, 0.66);
    text-align: center;
    padding: 2%;
}


h3 {
    align-content: center;
}


.featured-work-container {
    display: flex;
    flex-direction: row;
}


.featured-work {
    width: 33%;
    align-content: center;
    padding-top: 1%;
    text-align: center;
}


.rose {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
    height: 60%
}


.cami-cat {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 60%;
    height: 75%
}


.pixel-art {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 60%;
    height: 60%
}


/*styling for garden.html*/
.My-Plants {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    width: 100%;
}


.coral-bell-container,
.roses-container,
.hydrangena-container {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.coral-bell {
    width: 80%;
}


.hydrangena {
    width: 100%;
}


.Header-Garden {
    padding-top: 3%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}