/*responsive css*/

/*responsie css for devices like Nexus 5**/
@media screen and (max-width: 360px) {
    .main-content-paragraph {
        font-size: 14px;
        line-height: 1.2;
    }


    .main-pic {
        float: left; 
        margin-top: 3%;
    

    }
    .header-title {
        font-size: 15px;


    }
    .header-name {
        font-size: 20px;
    }


    .logo {
        height: 50%;
        width: 50%
    }


    h2 {
        font-size: 15px;
        text-align: left;
    }


    h3 {
        font-size: 12px;
    }

    
     .featured-work-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}


/**responsive css for devices likes the IPad**/
@media screen and (max-width: 768px) {
    .main-pic {
        margin-top: 3%;
    }


    .main-content-description {
        font-size: 14px;
    }

    
    .header-title {
        font-size: 15px;
    }    
}
